rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leaderboard/{document} {
      allow read, create: if true;
      allow update, delete: if false; // do not allow editing or deleting scores once posted
    }
  }
}
